<% if current_user.admin? %>
  <% @chatrooms.each do |chatroom| %>
    <p><%= link_to "#{chatroom.user.name}", chatroom_path(chatroom.id) %></p>
  <% end %>
<% else %>
  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
<% end %>

<% if current_user %>
  <div id="match-chat">
  </div>
<% end %>
