<% if current_user.admin? %>
  <% unless @chatrooms.nil? %>
    <% @chatrooms.each do |chatroom| %>
      <p><%= link_to "#{chatroom.user.name}", chatroom_path(chatroom.id) %></p>
    <% end %>
  <% end %>
<% end %>

<% unless current_user.admin? %>
  <% if @chatroom %>
    <div id="match-chat" data-chatroom=<%= @chatroom.id %>>
    </div>
  <% else %>
    <div>
      <h1>Match with Kyle to get chatting!</h1>
    </div>
  <% end %>
<% end %>
