.landing-background
  .login-box
    - if !current_user
      .facebook-button
        = link_to image_tag("http://res.cloudinary.com/duor0bzmo/image/upload/v1485637387/login-button-png-18039_s3zz4v.png"), "auth/facebook"
      .kyle-link
        = link_to "Are you Kyle?", new_session_path
