/*
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #F1F1EF;
  font-family: 'Raleway';
}


.flash {
  background: rgba(236, 50, 49, .85);
  color: #F1F1EF;
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', serif;
  height: 4.25vh;
}

.placeholder {
  height: 4.25vh
}

.picture {
  object-fit: cover;
  height: 75vh;
  width: 55%;
  padding: 12px;
  margin: auto;
  background-color: white;
  display: inline-block;
  border-radius: 1%;
  box-shadow: 2px 2px 2px #9C9B98;

  @media (max-width: 450px){
    width: 75%;
  }
}

.clickable {
  display: inline-block;
  width: 20%;
  height: 75vh;
  position: relative;

  @media (max-width: 450px){
    width: 8%;
  }
}

a {
  text-decoration: none;
}

header li {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  display: inline;
  list-style-type: none;
  font-family: Raleway;
  padding-right: 2%;
}

.swipe-icon {
  @include centerer;
  font-size: 5em;
  color: #EC3231;

  @media (max-width: 450px){
    font-size: 2em;
  }
}
